@model IEnumerable<Business.Dtos.ClientDto>


@{
    ViewData["Title"] = "Team Members";
}

<section id="clients">
    <header class="page-headline">
        <h1 class="h2">@ViewData["Title"]</h1>
        <button data-modal="true" data-target="#addClientModal" class="btn btn-blue btn-add" type="button">Add Contact</button>
    </header>

    <main class="content">
        <div class="surface">
            <div class="projects-list">
                @if (Model != null && Model.Any())
                {
                    @foreach (var client in Model)
                    {
                        <div class="member-item">
                            <img src="~/images/avatars/avatar-template-4.svg" class="member-icon" />
                            <div class="name-container">
                                <h3>@client.FirstName</h3>
                                <h3>@client.LastName</h3>
                            </div>

                            <a href="javascript:void(0)" class="more-avatar" data-dropdown="true" data-target="#dropdown-@client.Id">
                                <img src="~/images/More.svg" alt="More icon" class="more-icon">
                            </a>
                            <p class="title-text"> @client.JobTitle</p>
                            <p>@client.Email</p>
                            <p>@client.Phone</p>
                            <button class="message-btn">Message</button>
                           
                            @*Dropdown-meny:*@

                            <div class="more-dropdown-content" id="dropdown-@client.Id" style="display:none;">
                                <button data-modal="true" data-target="#updateClientModal" id="logout" type="button" class="dropdown-btn">
                                    <img src="~/images/icons/Edit.svg" alt="More icon" class="more-icon"> <span class="edit-text">Edit</span>
                                </button>


                                <button id="logout" type="button" class="dropdown-btn delete-button" data-client-id="@client.Id">
                                    <img src="~/images/icons/Delete.svg" alt="More icon" class="more-icon"> <span class="delete-text">Delete Member</span>
                                </button>
                            </div>

                        </div>
                    }
                }
                else
                {
                    <p>No projects available.</p>
                }

            </div>
        </div>
    </main>

</section>

<partial name="Partials/Modals/_AddClientModal" model="new Business.Models.AddClientForm()" />