@model IEnumerable<Business.Dtos.ClientDto>


@{
    ViewData["Title"] = "Team Members";
}

<section id="clients">
    <header class="page-headline">
        <h1 class="h2">@ViewData["Title"]</h1>
        <button data-modal="true" data-target="#addClientModal" class="btn btn-blue btn-add" type="button">Add Contact</button>
    </header>

    <main class="content">
        <div class="surface">
            <div class="projects-list">
                @if (Model != null && Model.Any())
                {
                    @foreach (var client in Model)
                    {
                        <div class="project-item">
                            <h3>@client.FirstName</h3>
                            <h3>@client.LastName</h3>
                            <p>Email: @client.Email</p>
                            <p>Phone: @client.Phone</p>
                            <p>Title: @client.JobTitle</p>
                            <p>Date of Birth: @client.DateOfBirth?.ToShortDateString() </p>

                        </div>
                    }
                }
                else
                {
                    <p>No projects available.</p>
                }

            </div>
        </div>
    </main>

</section>

<partial name="Partials/Modals/_AddClientModal" model="new Business.Models.AddClientForm()" />